* {
    font-family: 'Work Sans', sans-serif;
}

/* Shared Styles Starts */
.btn-primary {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    margin-top: 32px;
    border: 0px;
}

/* Shared Styles Ends */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* Navigation Styles Starts*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: #424242;
    font-size: 1rem;
    /* 18px = 1rem ধরলাম */
    font-weight: 500;
}

nav h3 {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}

/* Navigation Styles Ends */

/* Header Title Styles Starts */
.title-1-container {
    max-width: 850px;
    text-align: center;
    margin: 0px auto;
}

.title-1-container h3 {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.title-1-container p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.banner img {
    width: 100%;
    margin-top: 30px;
}

/* Header Title Styles Ends */

/* Main Section Starts */
main {
    max-width: 1440px;
    margin: 0px auto;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 85px;
}

.team-img-container img{
    width: 100%;
}

.team-container {
    display: flex;
}

.team-title {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.title-span-1 {
    color: #131313;
    font-weight: 700;
}

.title-span-2 {
    color: #FF900E;
    font-weight: 700;
}

.team-desc {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.team-img-description {
    margin-left: 76px;
    margin-top: 287px;
}

.section-2 {
    max-width: 1440px;
    margin: 100px auto;
    display: flex;
    gap: 140px;
}

.line {
    width: 5px;
    height: 106px;
    background: #FF900E;
}

.feature-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    max-width: 468px;
    margin-left: 20px;
}

.feature-head {
    display: flex;
    align-items: center;
}

.feature-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    max-width: 586px;
}

.feature-1 {
    max-width: 586px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-1-title {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    padding: 30px 300px 10px 33px;
}

.feature-description-1 {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    max-width: 514px;
    padding: 0px 42px 30px 30px;
}

.section-2-img {
    max-width: 708px;
    max-height: 982px;
}

.section-2-img button {
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px;
    border: 0px;
    position: relative;
    top: -120px;
    left: -80px;
}

.experience {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
}

.section-3 {
    max-width: 1440px;
    margin: 130px auto;
}

.fact {
    max-width: 542px;
}

.fact-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.fact-desc {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
}

.card-title {
    color: #424242;
    font-size: 2.9rem;
    font-weight: 600;
}

.card-description {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}

.fact-card {
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
}

.fact-card-1 {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 45px 36px 59px 35px;
}

.sponsors h3 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.sponsors p {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    max-width: 542px;
    margin: 24px auto 50px;
}

.sponsor-img {
    display: flex;
    gap: 155px;
    align-items: center;
}

/* Main Section Ends */

footer small {
    color: #424242;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 38px 400px;
}

footer{
    max-width: 1440px;
    margin: 130px auto;
}

/* Responsive Designs Starts */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .team-container {
        flex-direction: column-reverse;
    }

    .team-img-description {
        margin: 0px auto;
        text-align: center;
    }

    .team-img-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 25px auto;
        justify-content: center;
    }

    .section-2 {
        flex-direction: column;
        margin: 0px;
        gap: 0px;
    }

    .section-2-img img {
        width: 100%;
    }

    .section-2-img button {
        position: static;
    }

    .section-2-img {
        text-align: center;
        margin-top: 0px;
    }

    .fact-card {
        flex-direction: column;
    }

    .section-3 {
        margin-top: 0px;
    }

    .sponsor-img {
        flex-wrap: wrap;
        gap: 50px;
    }

    footer small{
        padding: 0px;
    }
    footer{
        text-align: center;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    nav {
        flex-direction: column;
    }

    .team-container {
        flex-direction: column-reverse;
    }

    .team-img-description {
        margin: 0px auto;
        text-align: center;
    }

    .team-img-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 25px auto;
        justify-content: center;
    }

    .section-2 {
        flex-direction: column;
        margin: 0px;
        gap: 0px;
    }

    .section-2-img button {
        position: static;
    }

    .section-2-img {
        text-align: center;
        margin-top: 0px;
    }

    .feature-title,
    .feature-description,
    .feature-1,
    .feature-description-1 {
        max-width: none;
    }

    .fact-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .section-3 {
        margin-top: 200px;
    }

    .sponsor-img {
        flex-wrap: wrap;
        gap: 50px;
    }
}

/* Responsive Designs Ends */